.healthyLifeBody * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: source-han-serif-tc, serif;

}

p {
    font-size: 1.2rem;
}

.mainBanner {
    background-image: url(../img/mainGreen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    position: relative;

}

.healthyLifeHeader {
    overflow-x: hidden;
    margin-bottom: 5rem;
}

.healthyLifeH1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -2rem;
    color: white;
    font-weight: 700;
    font-size: 8rem;
    white-space: nowrap;
    letter-spacing: -0.8rem;
}

.healthyLifeH1Sub {
    text-align: center;
    font-size: 8rem;
    font-weight: 700;
    white-space: nowrap;
    background-image: url(../img/mainGreen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: -2.5rem;
    letter-spacing: -0.8rem;
}

.healthyLifeH3 {
    display: inline-block;
    font-size: 5rem;
    /* white-space: nowrap; */

}

.happyHighlight {
    display: inline-block;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);

}

.contentIsYourBodyHappy {
    /* display: flex; */
    /* width: 100%;*/
    /* height: 80vh; */
    /* overflow: hidden; */

}

/* .imgIsYourBodyHappy {
    flex: 0 0 30%;
} */


.imgLeafSample {
    float: left;
    width: 30%;
    object-fit: cover;
    filter: grayscale(90%);
    shape-outside: url(../img/leaf09.png);
    shape-margin: 3%;
}

.imgLeafSampleTurnGreen {
    filter: grayscale(0%) drop-shadow(5px 10px 10px black);
    transition-property: filter;
    transition-duration: 0.5s;
    transition-delay: 1s;
}




.fiveDotsDivider {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}

.dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

:root {
    --c01: #0abf04;
    --c02: #09a603;
    --c03: #067302;
    --c04: #034001;
    --c05: #022601;
}



.dot1 {
    background-color: var(--c01);
}

.dot2 {
    background-color: var(--c02);
}

.dot3 {
    background-color: var(--c03);
}

.dot4 {
    background-color: var(--c04);
}

.dot5 {
    background-color: var(--c05);
}

.flipCardsIsYourBodyHappy {
    margin-top: 1rem;
    width: 100%;
    height: 50vh;
    background-color: var(--c02);
}

.imgLeaf02 {
    width: 40%;
    float: right;
    filter: drop-shadow(5px 10px 10px grey);
    shape-outside: url(../img/leaf02.png);
    shape-margin: 2%;
}

.titleTakeCareOfYourBody {
    display: flex;
    flex-direction: column;
}

.healthyLifeH3 {
    text-align: right;
}

.textTest {
    font-size: 2rem;
    text-align: left;
}

.descriptionTakeCareOfYourBody {
    text-align: right;
}

.leafTwin {}

.leafTwo {
    width: 400px;
}

.twin01 {
    transform: scalex(-1);
}


/*  

讓圖片抖動起來

img:hover {
animation: shake 0.5s;

animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

*/